{% extends '::layout_xtending_dashboard.html.twig' %}
{% block header_meta %}
    <meta property="og:url"           content="http://www.triabox.com/event/show/map/{{ name }}/{{ entity.id }}/online" />
    <meta property="og:title"         content="{{ entity.name }}" />
    <meta property="og:description"   content="[{{ entity.sport }} - {{ entity.startTime|date('d.m.y') }} - {{ entity.startHs }}]  {{ entity.name }} - {{ entity.province }} - {{ entity.city }}" />
    <meta property="og:image"         content="http://www.triabox.com/{{ asset(entity.photo) }}" />

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="[{{ entity.sport }} - {{ entity.startTime|date('d.m.y') }} - {{ entity.startHs }}]  {{ entity.name }} - {{ entity.province }} - {{ entity.city }}"/>
    <meta name="twitter:title" content="{{ entity.name }}"/>
    <meta name="twitter:site" content="@triabox"/>
    <meta name="twitter:domain" content="triabox.com"/>
    <meta name="twitter:image:src" content="http://www.triabox.com/{{ asset(entity.photo) }}"/>
    <meta name="twitter:domain" content="TriaBox"/>

{% endblock %}

{% block main_box_label %}{% trans %}Seguimiento Online{% endtrans %}{% endblock %}
{% block main_box -%}
<div class="main-box clearfix profile-box-menu">
										<div class="main-box-body clearfix">
<div class="profile-box-header green-bg clearfix" style="background-image: url(http://www.triabox.com/{{ asset(entity.photoBackground) }});">
	<img src="http://www.triabox.com/{{ asset(entity.photo) }}"alt="" class="profile-img img-responsive" />
	<h2 style="color: black;">{{ entity.name }}</h2>
		<div class="icon-box pull-right">
		{% set url = '/event/show/map/'~name~'/'~entity.id~'/online'  %}
		{% set comment = '[Estoy participando en '~entity.name~ ']: Segui mi progreso online en triabox'  %}
	
		{%  include ':helper:shareButton.html.twig'with {'url': url ,'comment':comment } %}
	
		</div>
											
</div>
</div></div>	
<div align="center">
	
				<button type="button" class="btn btn-primary btn-lg" onclick='playRoute()'  >
					<span class="fa fa-play"></span> {% trans %}Ver Camino Recorrido{% endtrans %} 
				</button>
	
		</div>					
<div id="map" style="height: 700px"></div>
	

{% endblock %}


{% block lateral_box_up_label %}{% trans %}Estadisticas{% endtrans %}{% endblock %}
{% block lateral_box_up %}
		<div id="map_distancia" ></div>
		
{% endblock %}
{% block lateral_box_down_label %}{% trans %}Intervalos{% endtrans %}{% endblock %}

{% block lateral_box_down %}
<div id="map_intervalo" ></div>	
{% endblock %}
{% block script_custom %}


		
// This example creates a 2-pixel-wide red polyline showing the path of William
// Kingsford Smith's first trans-Pacific flight between Oakland, CA, and
// Brisbane, Australia.


var count = 1;
var poly;
var map;
var markers = [];
var markersKilometre = [];

/**
* Prototype para pasar a Radianes
*/
if(typeof Number.prototype.toRadians == 'undefined'){
  Number.prototype.toRadians = function() {
    return this * Math.PI / 180;
  }
}
/**
 * Funcin para calcular la distancia entre dos puntos.
 *
 * @param lat1 = Latitud del punto de origen
 * @param lat2 = Latitud del punto de destino
 * @param lon1 = Longitud del punto de origen
 * @param lon2 = Longitud del punto de destino
 */
function calcularDistancia(lat1, lat2, lon1, lon2){
    var R = 6371; // Radio del planeta tierra en km
    var phi1 = lat1.toRadians();
    var phi2 = lat2.toRadians();
    var deltaphi = (lat2-lat1).toRadians();
    var deltalambda = (lon2-lon1).toRadians();

    var a = Math.sin(deltaphi/2) * Math.sin(deltaphi/2) +
            Math.cos(phi1) * Math.cos(phi2) *
            Math.sin(deltalambda/2) * Math.sin(deltalambda/2);
    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));

    var d = R * c
    return d;
}
function initMap() {
 map = new google.maps.Map(document.getElementById('map'), {
    zoom: 14,
    center: {lat:{{ entity.latitude }}, lng: {{ entity.longitude }}}  // Center the map on Chicago, USA.
  });
  
  poly = new google.maps.Polyline({
    strokeColor: '#00bfff',
    strokeOpacity: 0.5,
    strokeWeight: 8

  });
  poly.setMap(map);
  
  initPath();

}

function addMarkerKilometro(location,number) {

	var image = {
          url: 'http://www.triabox.com/web/img/map/number_'+number+'.png',
          // This marker is 20 pixels wide by 32 pixels high.
         
          
        };
        
  var markerKilometre = new google.maps.Marker({
    position: location,
    	icon: image,
    title: '{{ name }}',
    map: map
  });
  markersKilometre.push(markerKilometre);
}

// Adds a marker to the map and push to the array.
function addMarker(location) {
	var image = {
          url: 'http://www.triabox.com/web/img/map/jogging.png',
          // This marker is 20 pixels wide by 32 pixels high.
         anchor: new google.maps.Point(0, 50)
          
        };
  	var marker = new google.maps.Marker({
    position: location,
    icon: image,
    draggable: true,
    animation: google.maps.Animation.BOUNCE,
    label: "{{ name }}",
    title: '{{ name }}',
    map: map
  });
  map.setCenter(location);
  map.setZoom(16);
  markers.push(marker);
}

// Sets the map on all markers in the array.
function setMapOnAll(map) {
  for (var i = 0; i < markers.length; i++) {
    markers[i].setMap(map);
  }
}

// Removes the markers from the map, but keeps them in the array.
function clearMarkers() {
  setMapOnAll(null);
}

// Shows any markers currently in the array.
function showMarkers() {
  setMapOnAll(map);
}

// Deletes all markers in the array by removing references to them.
function deleteMarkers() {
  clearMarkers();
  markers = [];
}



// Handles click events on a map, and adds a new point to the Polyline.
function addLatLng(lat,lng) {
  var path = poly.getPath();
	
  // Because path is an MVCArray, we can simply append a new coordinate
  // and it will automatically appear.
  path.push(new google.maps.LatLng(lat, lng));
deleteMarkers();
  	// Add a new marker at the new plotted point on the polyline.
 	addMarker(new google.maps.LatLng(lat, lng));
}

function getLastPoint(){

 $.ajax({
    // la URL para la petici贸n
    url : '{{ path('event_lastpoint_training', { 'name': name,'idEvent': idEvent   }) }}',
 
    // especifica si ser谩 una petici贸n POST o GET
    type : 'GET',
 
    // el tipo de informaci贸n que se espera de respuesta
    dataType : 'json',
 
    // c贸digo a ejecutar si la petici贸n es satisfactoria;
    // la respuesta es pasada como argumento a la funci贸n
    success : function(json) {
        //alert("posicion".concat(json.long, json.lant));
        deleteMarkers();
  	// Add a new marker at the new plotted point on the polyline.
 	addMarker(new google.maps.LatLng(json.lant, json.long));
        
    },
 
    // c贸digo a ejecutar si la petici贸n falla;
    // son pasados como argumentos a la funci贸n
    // el objeto de la petici贸n en crudo y c贸digo de estatus de la petici贸n
    error : function(xhr, status) {
        //alert('Disculpe, existi贸 un problema');
    },
 
    // c贸digo a ejecutar sin importar si la petici贸n fall贸 o no
    complete : function(xhr, status) {
        
    }
});

}




function reloadEstadistica(){

$('#map_distancia').load('{{ path('event_distance', { 'name': name,'idEvent': idEvent   }) }}');

}

function reloadIntervalo(){
$('#map_intervalo').load(	'{{ path('event_interval', { 'name': name,'idEvent': idEvent   }) }}');

}
	var count = 0;
	
	
	
	//var myVar = setInterval(reloadEstadistica,20000);
	//var myVar1 = setInterval(reloadIntervalo, 30000);
	
	var myPoint = setInterval(getLastPoint,15000);

	function initPath(){
		getLastPoint();
		

	
	
	
		{% for entity in route %}
				addLatLng({{ entity.latitude }},{{  entity.longitude }});
		{% endfor %}
		
		{% for entity in kilometre %}
				count = count + 1;
				addMarkerKilometro(new google.maps.LatLng({{ entity.latitude }}, {{  entity.longitude }}),count);
				
		{% endfor %}
	}
	
	function playRoute(){
		clearInterval(myPoint);
		tiempo = 1;
		distancia = 0;
		distanciaTotal = 0;
		{% set cant = 1  %}
		{% for entity in entities %}
			{% if cant != 1 %}	
					var lat{{ cant }} = {{ entity.latitude }}; 
  					var log{{ cant }} = {{  entity.longitude }};
				setTimeout(function(){
  				 	deleteMarkers();
 					addMarker(new google.maps.LatLng(lat{{ cant }}, log{{ cant }}));
 					distancia =  calcularDistancia(lat{{ cant -1 }}, lat{{ cant  }}, log{{ cant -1 }}, log{{ cant }});
 					distanciaTotal = distanciaTotal +distancia;
				}, 600*({{ cant }}{% if cant != 2 %}+ distancia	{% endif %}));
				
				
				
				 tiempo = tiempo + 1;
			{% endif %}
			{% set cant = cant+1  %}
		{% endfor %}
		
			
				setTimeout(function(){
  				 	myPoint = setInterval(getLastPoint,15000);
  				 	
				}, 1500*({{ cant }}));
			
		
		}
{% endblock %}

